#Querys
*.csv
*.html
dataset

#Codigos que objeto
a.out
*.o
*.gch
parkingTickets*
test*

# Archivos de depuración
*.dSYM/
*.dSYM/**
*.yml

#ides
.vscode
.idea
.json

#test
pytutor.c

# Mac
.DS_Store
test.CHI.dSYM
test.NYC.dSYM